[push]
	default = simple
[pull]
	rebase = true
[alias]
	lg = log --pretty=format:'%C(red)%h%Creset %C(magenta)%G?%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --graph
	lga = log --pretty=format:'%C(red)%h%Creset %C(magenta)%G?%Creset -%C(yellow)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --graph --all
	lgp = log --graph --pretty=format:'%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(14,trunc)%ar %C(auto,green)%<(16,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D'
	conflicts = diff --name-only --diff-filter=U
	dt = difftool
	s = status
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
	tool = vimdiff
[difftool]
  prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Jee Wan Gue
	email = jeewangue@gmail.com
	signingkey = 8FDEE00DE488B259748C25D658CB05986498292E
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = master
