[submodule "powerlevel10k"]
	path = submodules/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
[submodule "zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
[submodule "zsh-completions"]
	path = submodules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	branch = master
[submodule "zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "ohmyzsh"]
	path = submodules/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
[submodule "k"]
	path = submodules/k
	url = https://github.com/supercrabtree/k.git
